body{
    margin: 0;
    background-color: white;
}
.topscrl{
    background-color:  rgb(11, 20, 92);
    position: relative;
}
marquee{
    background-color: rgb(11, 20, 92);
    color: white;
    margin-left: 5vw;
    width: 90vw;
    height: 4vh;
    padding-top: 1vh;
    box-sizing: border-box;
}
.topbar{
    background-color: rgba(0, 0, 0, 0.816);
    width: 100vw;
    height: 8vh;
}
.buttons{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family: sans-serif;
    width: 8vw;
    height: 8vh;
    font-size: 15px;
    margin-left: 7vw;
}
.buttons:hover{
    background-color: black;
}
.buttons:focus{
    background-color: white;
    color: black;
}
.op{
    margin-left: 0;
}
.op2{
    margin-left: 15vw;
    font-size: 12px;
}
.op3{
    margin-left: 0;
}
.op2:hover{
    background-color: rgba(0, 0, 0, 0);
    color: yellow;
}
.op2:focus{
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.maindiv{
    height: 10vh;
    width: 100vw;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}
.maindiv img{
    height: 7vh;
    width: 7vw;
    margin-top: 1vh;
    margin-left: 7vw;
    float: left;
}
.cat{
    color: rgb(11, 20, 92);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family:sans-serif;
    font-size: 13px;
    padding-left: 10vw;
    padding-top: 4vh;
}
.cat:hover{
    text-decoration: underline red;
}
.women{
    padding-left: 1vw;
}
.sales{
    padding-left: 1vw;
    color: red;
}
.subop{
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: max-content;
    opacity: 0;
}
.cat:hover .subop{
    opacity: 1;
    background-color: white;
}
.items{
    list-style: none;
    text-align: left;
    color: black;
    line-height: 4vh;
    letter-spacing: 0.6px;
}
.itemh{
    color: rgb(11, 20, 92);
    font-size: 13px;
    font-weight: 600;
}
.items2{
    position: absolute;
    top: 0vh;
    left: 20vw;
}
.mainpic{
    width: 100vw;
}